
.alignleft{
  float: left;
}

.alignright{
  float: right;
}

.article{
  font-family: 'Noto Serif JP', serif;
  font-size: 2vw;
  font-weight: bold;
  
  line-height: 2vw;
}

.subarticle{
  font-family: 'Merriweather', serif;
  font-size: 1vw;
  line-height: 0.5vw;
}

.subtext{
  font-family: 'Crimson Text', serif;
  font-size: 1.1vw;
  line-height: 1.1vw;
  margin-top: 3%;
}

.episodelink{
  text-decoration: underline;

}
.chicken{
  margin: 0 10% 0 20%;
  font-family: 'Crimson Text', serif;
  font-size: 1.35vw;
  padding: 0.3vw 0;
  line-height: 1.8vw;
}

.title {
  font-family: 'Lora', serif;
  font-size: 3vw;
  margin: 0 10% 0 20%;
  line-height: 4vw;
}

.title2{
  font-family: 'Lora', serif;
  font-size: 3vw;
  margin: 7% 10% 0 7%;
  line-height: 4vw;
  }



.headers{
  margin: 4% 10% 0 20%;
  font-size: 3vw;
  font-family: 'Lora', serif;
  line-height: 3.5vw;
}

.biggerimage{
  width: 70%;
  margin: 0 10% 0 20%;
}

.smallerimage{
  width: 70%;
  margin: 2% 10% 0 20%;
}



.smalltext{
  margin: 0 10% 0 20%;
  font-family: 'Merriweather', serif;
  font-size: 1vw;
  padding: 0.4vw 0;
  color: grey;
}

.differenttext{
  color: grey;
  font-size: 1.2vw;
  margin: 0 10% 0 20%;
  padding: 0.3vw 0;
  line-height: 1.5vw;
  font-family: 'Crimson Text', serif;
}

.gridthing{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-flow: row;
  margin-top: 6%;
}

.gridthing2{
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-auto-flow: row;
  margin-left: 7%;
  margin-right: 25%;

}

.rightcolumn{
  margin-left: 2%;
}
.ulspacing{
  margin-left: 7%;
}

.frontpagetitle{
  font-family: 'Merriweather', sans-serif;
  font-size: 5vw;
  font-weight: bold;
  text-align: center;
  margin: 2% 0 0 0;
}


.info{
  font-size: 1.1vw;
  margin: 0 10% 0 20%;
  padding: 0.3vw 0;
  line-height: 1.4vw;
  font-family: 'Crimson Text', serif;
  font-weight: bold;

}

.distance{
  margin-bottom: 10%;
}

a{
  color: black;
}


a:hover{
  color: black;
}

hr {
  border: 0.2vmax black;
  border-style: solid;
  margin-right: 25%;
  margin-left: 10%;
  background-color: black;
  margin-top: 1%;
}

.subline {
  border-width: 0.1vmax;
}

.undertitle{
  margin-left: 7%;
  margin-top: 0.5%;
}

.undertitle2{
  margin-left: 7%;
  margin-top: 1%;
  margin-bottom: 1%;
  border-width: thin;
}



ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.sidegrid{
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-left: 10%;
  margin-right: 25%;
  margin-top: 4%;
}

.sidebar{
  margin: 3% 35% 0 0;
  text-align: center;

}

.sidepics{
  position: fixed;
  top: 0;
  left: 66.666666666666666666666666%;
  right: 0;
}

.sideimage{
  width: 100%;
}

.morearticles{
  font-family: 'PT Serif', serif;
  font-size: 2.2vw;
  text-align: center;
  margin: 35% 25% 0 10%;
}

.sidelinks{
  text-decoration: none;
  color: black;
  font-size: 1.1vw;
  font-family: 'Muli', sans-serif;
  margin: 0;
}

.sideblock{
  margin-left: 4%;
}

.sidelinks:hover{
  text-decoration: underline;

}

.topnav {
  background-color: white;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: solid;
  border-bottom-width: 0.1em;
  border-bottom-color:  rgb(167, 167, 167);

}

.topnav a {
  float: left;
  display: block;
  text-align: center;
  font-family: 'Crimson Text', serif;
  padding: 1.5% 2% 1.5% 2%;
  text-decoration: none;
  font-size: 1.5vw;
  color: black;
}

.topnav p{
  float: left;
  display: block;
  text-align: center;
  font-family: 'Crimson Text', serif;
  padding: 1.8% 2% 1.5% 2%;
  font-size: 1.5vw;
  color: black;
}


.main {
  margin-top: 0%; /* Add a top margin to avoid content overlay */
  color: white;
}

.navigation{
  margin: 0;
  font-family: 'Crimson Text', serif;
  font-size: 1.35vw;
  padding: 0.1vw 0.2vw;
  line-height: 1.8vw;

}


.readmore{
  margin: 0 10% 0 20%;
  border: none;
  background-color: white;
  padding: 0.1vw;
  font-family: 'Crimson Text', serif;
  font-size: 1.4vw;
  line-height: 1.8vw;
  text-decoration: underline;
  
}

#more1 {display: none;}

#more2 {display: none}

#more3 {display: none}

#more4 {display: none}

#more5 {display: none}

#more6 {display: none}

#more7 {display: none}

#more8 {display: none}

#more9 {display: none}

#more10 {display: none}

#more11 {display: none}

#more12 {display: none}

#more13 {display: none}

#more14 {display: none}

#more15 {display: none}

#more16 {display: none}

#more17 {display: none}

#more18 {display: none}

#more19 {display: none}

#more20 {display: none}

#more21 {display: none}

